/* .carlito-regular {
    font-family: "Carlito", serif;
    font-weight: 400;
    font-style: normal;
}
  
.carlito-bold {
    font-family: "Carlito", serif;
    font-weight: 700;
    font-style: normal;
}
  
.carlito-regular-italic {
    font-family: "Carlito", serif;
    font-weight: 400;
    font-style: italic;
}
  
.carlito-bold-italic {
    font-family: "Carlito", serif;
    font-weight: 700;
    font-style: italic;
}

.lilita-one-regular {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
} */