/* Setting up CSS Variables. I use these throughout the styles.css file. I couldn't figure out how to implement them in tailwind. */
:root {
  --font-family: 'Carlito', sans-serif;
  --font-family-italic: 'Carlito', italic;
  --main-font-color: white;
  --accent-color: black;
  --button-color: #ED221F;
  --box-shadow-light: black 0px 0px 4px 0px;
  --transition-property: transform 0.3s ease-in-out;
  --transform-scale: scale(1.1);
  --med-rounded-corner: 1rem;
  --small-rounded-corner: .5rem;
  --large-rounded-corner: 2rem;
}

/* Setting up html and body elements, so that I can format easier. Smooth scrolling so when you click to go back to the top, it is smooth instead of immediate */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

/* Formatting logo that my gf designed */
.logo {
  padding: 0rem;
  width: fit-content;

  img {
    width: 100px;
    height: auto;
  }
}

/* Adding font-family in CSS because I couldn't figure out how to use variables in tailwind. Adding hover property on the h2 navigation tabs */
.header {
  font-family: var(--font-family);

  h2:hover {
    transform: var(--transform-scale);
  }
}

/* Asked Copilot how to format these a tags because I forgot how to simply remove decorations of blue color and underline. This is what it gave me. */
.nav-bar a {
  text-decoration: none;
  color: inherit;
}

.nav-bar a:hover {
  color: inherit;
}

/* Container for shopping-cart svg from font awesome */
.shopping-cart-container {
  display: flex;
  justify-content: center;
  height: 4rem;
}

.shopping-cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
}

/* Formatting shopping-cart svg */
.shopping-cart-icon i {
  color: var(--accent-color);
  font-size: 1.5rem;
}

.shopping-cart-icon i:hover {
  transform: var(--transform-scale);
}

/* Main Product Page Styling */
main {
  color: var(--main-font-color);
}

/* Asked ChatGPT to help me with some CSS code that would allow the image to zoom in a bit when the user hovers over the image. I am applying this code to all images in the page to allow for more user interactivity. */
img {
  object-fit: cover;
  transition: var(--transition-property);
}

img:hover {
  transform: var(--transform-scale);
}

/* Product image */
.product-img-card {
  background-color: var(--main-font-color);
  border-radius: var(--small-rounded-corner);
  padding: 2rem;
  box-shadow: black 0px 0px 10px;
  
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

/* Formatting price card in description. Also formatting the button to have a box-shadow when hovered on. */
.price-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  button {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: var(--large-rounded-corner);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    gap: .5rem;
    padding: .5rem;
    color: var(--main-font-color);
    font-size: .88rem;
    font-weight: 400;
    cursor: pointer;
    box-shadow: black 0px 0px 2px;
  }

  button:hover {
    box-shadow: black 0px 0px 5px;
    .add-to-cart-icon i {
      transform: var(--transform-scale);
    }
  }
}

/* Formatting shopping-cart svg again for the add to cart button */
.add-to-cart-icon {
  display: flex;
  justify-content: center;
  width: 2rem;
}

.add-to-cart-icon i {
  color: var(--main-font-color);
  font-size: 1.5rem;
}

/* Formatting all h2s */
h2 {
  font-size: 1rem;
  font-weight: 150;
  align-self: center;
  font-family: var(--font-family);
}

/* Formatting all h1s */
h1 {
  font-family: var(--font-family);
}

/* Formatting all ps. For some reason Carlito italic wasn't working for me on this page */
p {
  font-size: 1rem;
  text-align: left;
  font-family: var(--font-family-italic);
}

/* Formatting all h4s */
h4 {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-family);
}

/* Formatting the quantity cards and images */
#pack-of-3, #pack-of-6, #pack-of-24 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--main-font-color);
  border-radius: var(--med-rounded-corner);
  box-shadow: var(--box-shadow-light);

  img {
    object-fit: contain;
    width: auto;
    height: 100px;
  }

  p {
    font-size: .75rem;
    font-weight: 500;
    color: var(--accent-color);
  }
}

/* Formatting quantity cards on hover to give some interactivity */
#pack-of-3:hover, #pack-of-6:hover, #pack-of-24:hover {
  box-shadow: black 0px 0px 5px;
  color: var(--main-font-color);
}

/* Formatting related products section to have Carlito */
.related-products-section {
  font-family: var(--font-family);
}

/* Formatting related products section to have good layout */
.related-products-container {
  display: flex;
  background-color: var(--main-font-color);
  padding: 1rem;
  border-radius: var(--med-rounded-corner);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  box-shadow: var(--box-shadow-light);
  /* border: 5px solid purple; */

  img {
    height: 210px;
    width: auto;
  }
}

/* Formatting with Carlito */
.limited-edition-product {
  font-family: var(--font-family);
}

/* Formatting with vars */
.limited-edition-product-container {
  background-color: var(--main-font-color);
  border-radius: var(--med-rounded-corner);
  box-shadow: var(--box-shadow-light);

  img {
    height: 210px;
    width: auto;
  }
}

/* Formatting with vars */
.contact-form-container {
  font-family: var(--font-family);

  button {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: var(--large-rounded-corner);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 1rem;
    gap: .5rem;
    padding: .5rem;
    color: var(--main-font-color);
    font-size: .88rem;
    font-weight: 400;
    cursor: pointer;
    box-shadow: black 0px 0px 2px;
  }

  button:hover {
    box-shadow: black 0px 0px 5px;
  }
}

/* Formatting scroll to top svg */
.scroll-to-top i {
  font-size: 2.3rem;
  color: var(--accent-color);
  cursor: pointer;
}

.scroll-to-top i:hover {
  transform: var(--transform-scale);
}

/* formatting footer logo */
.footer-logo img{
  width: 100px;
  height: auto;
}

/* Formatting footer with carlito */
.footer-content {
  font-family: var(--font-family);
}